.truncate-post-content {
	@include line-clamp(15, var(--bs-body-line-height));
	> p {
		margin-bottom: 1rem;
	}
}

[component="topic/thumb/list"] {
	&.thumbs-collapsed img:nth-of-type(n+4) {
		display: none!important;
	}
}